
 @import "../css/normalize.css";
 @import "../fonts/fonts.css";
 @import "variables";
 @import "mixins.scss";
 @import "waves";
 @import "fancybox";
 @import "custom-scrollbar";
 @import "animate";
 @import "base";

.container{
	width: 1000px;
	margin: auto;
	@media screen and(max-width: 1000px){
		width: auto;
	}
}
.container-big{
	width: 1200px;
	.container-big{

	}
	margin: auto;
	@media screen and(max-width: 1200px){
		width: auto;
	}
}
.section{
	position: relative;
}
header{
	position: relative;
	z-index: 1;
	&.fixed{
		padding-top: 17px;
		padding-bottom: 12px;
		background: #303a46;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 50;
		transition: all .3s;
		.container{
			padding-top: 0;
		}
	}
}
.header__container{
	position: relative;
	padding-top: 29px;
}
.main-logo{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -600px;
	z-index: 10;
}
.nav{
	padding: 0 33px 0 135px;
	transition: all .3s;
	overflow: hidden;
}
.nav__list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
	margin: 0;
	@media screen and($sm){
		padding: 0 15px;
	}
	@media screen and(max-width: 560px){
		display: block;
		li{
			display: inline-block;
			margin-right: 8px;
		}
	}
}
.nav__link{
	color: #fefafb;
	font-family: "Exo 2 Light";
	font-size: 16px;
	text-decoration: none;
	transition: all .3s;
	&:hover, &.active{
		color: #e41e35;
	}
}
.header__phone{
	float: right;
	color: #949295;
	font-size: 20px;
}
.face{
	padding-top: 74px;
	padding-bottom: 100px;
}
.face__container{
	display: flex;
	position: relative;
	padding-left: 89px;
	&:before{
		content: '';
		position: absolute;
		top: -120px;
		left: -306px;
		width: 1002px;
		height: 1056px;
		z-index: 0;
		background-image: url(../img/bg-screen1.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}
}
.face__phone{
	margin-right: 81px;
	z-index: 1;
	position: relative;
	animation: fadeIn 1s ease-in-out .5s both;
}
.direction{
	position: relative;
	z-index: 1;
}
.logo-2{
	animation-duration: 1.3s;
}
.title-1{
	font-family: $light;
	font-size: 42px;
	line-height: 52px;
	color: white;
	margin: 42px 0 35px 0;
	font-weight: 400;
	//animation: fadeInRight 1s ease-in-out 0.5s both;
}
.direction__title{
	margin-right: -80px;
}
.direction__text{
	font-size: 25px;
	font-weight: 400;
	line-height: 28px;
	color: white;
	font-family: $thin;
	margin-bottom: 20px;
	&.blue{
		font-family: $light;
	}
}
.direction__wrap-btn{
	margin-top: 43px;
}
.red{
	color: #e41e35;
}
.blue{
	color: #31afff;
}

.solution{
	background: #252f3c;
	padding: 111px 0 128px 0;
	position: relative;
	z-index: 1;
	background-image: url(../img/solud.png);
	background-repeat: no-repeat;
	-moz-background-position-x: 80%!important;
	background-position-x: 80%!important;
}
.solution__container{
	position: relative;
}
.wrap-slider{
	position: relative;
	border: 3px solid #e6223b;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 122px;
		height: 456px;
		display: block;
		@include b(slider-bg, png);
	}
}
.slider__slide{
	@extend .clearfix;
	background: #fff;
	display: flex!important;
	height: 454px;
	position: relative;
}
.slide__left{
	flex: 1 1 50%;
	text-align: center;
	padding: 35px 50px 35px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slide__right{
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 80px 40px 0;
}
.slider__img{
	display: inline-block;
	max-width: 100%;
}
.slide__title{
	color: black;
	font-size: 36px;
	line-height: 45px;
	margin-bottom: 20px;
	margin-top: 0;
	font-family: $thin;
}
.slide__text{
	color: black;
	font-size: 20px;
	line-height: 24px;
}
.controls{
	height: 54px;
	display: flex;
	justify-content: center;
	align-item: stretch;
}
.controls__prev, .controls__next{
	background: #e61e38;
	display: inline-block;
	width: 56px;
	transition: all .3s;
	position: relative;
	cursor: pointer;
	&:hover{
		background: #ba1026;
	}
	&:after{
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 15px;
		height: 28px;
	}
	.bx-prev, .bx-next{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
	}
}
.controls__prev{
	&:after{
		@include b(prev, png);
	}
}
.controls__next{
	&:after{
		@include b(next, png);
	}
}
.controls__text{
	color: white;
	font-size: 20px;
	font-style: italic;
	background: #333;
	padding: 13px 20px 0 20px;
}
.solution__logo{
	color: #ab2339;
	font-family: $roboto-light;
	font-size: 42px;
	line-height: 40px;
	position: absolute;
	left: 100%;
	top: 0;
	transform: rotate(90deg) translateY(-103%);
	transform-origin: 0 0;
}
.slider-pager{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
}
.pager{

}
.pager__item{
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #a9afb8;
	margin-right: 16px;
	transition: all .3s;
	&:last-child{
		margin-right: 0;
	}
	&.active{
		background: #fff;
		border: 2px solid #e72b43;
	}
}
.next-section{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	display: block;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: #10a2ff;
	z-index: 2;
	cursor: pointer;
	box-shadow: 0 0 0 13px rgba(16, 162, 255, 0.2);
	transition: all .3s;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 13px;
		height: 8px;
		display: block;
		@include b(bottom-dir, png);
	}
	&:hover{
		background: #0a6199;
		box-shadow: 0 0 0 18px rgba(16, 162, 255, 0.1);
	}
}

.benefit{
	padding: 80px 0 87px 0;
	.title{
		margin-bottom: 40px;
		text-align: left;
	}
}
.benefit__container{
	display: flex;
	justify-content: center;
}
.benefit__left{
	text-align: right;
	margin-left: -54px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&:before{
		content: '';
		position: absolute;
		top: -130px;
		left: -131px;
		width: 1033px;
		height: 908px;
		display: block;
		@include b(benefit-bg, png);
		z-index: 0;
	}
}
.benefit__img{
	display: inline-block;
	z-index: 1;
	position: relative;
}
.benefit__img-sm{
	display: none;
}
.benefit__right{
	max-width: 600px;
	padding-left: 43px;
	position: relative;
	z-index: 2;
}
.marker-list{
	padding-left: 0;
	list-style: none;
	margin-bottom: 28px;
	li{
		padding-left: 55px;
		position: relative;
		color: #32afff;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 10px;
		&:before{
			content: '';
			position: absolute;
			width: 33px;
			height: 1px;
			background: #aeb9c5;
			top: 15px;
			left: 0;
		}
	}
}
.text{
	color: white;
	//font-family: $regular;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
}
.italic{
	font-style: italic;
}
.creating{
	background: #252f3c;
	padding: 88px 0 40px 0;
	position: relative;
}
.creating__img{
	position: absolute;
	left: 50%;
	margin-left: 60px;
	bottom: 100px;
}
.creating__title{
	margin-bottom: 20px;
	text-align: left;
}
.creating__text{
	max-width: 556px;
	margin-top: 40px;
	margin-bottom: 44px;
}
.offer{
	background: #233b50;
	padding: 30px 0; 
}
.offer__container{
	display: flex;
}
.offer__item{
	padding: 0 32px;
	border-right: 1px solid #4f6273;
	text-align: center;
	visibility: hidden;
	&:first-child{
		border-left: 1px solid #4f6273;
	}
}
.offer__ico{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: 15px;
	background-size: contain;
}
.offer__sr{
	@include b(offer-s, png);
}
.offer__st{
	@include b(offer-st, png);
}
.offer__k{
	@include b(offer-k, png);
}
.offer__title{
	color: #d3d8dc;
	font-size: 19px;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.offer__value{
	color: white;
	font-family: $medium;
	font-size: 28px;
}
.creating__btn{
	margin-top: 37px;
}
.guarantee{
	padding: 76px 0 79px 0;
	background: #333;
	background-image: url(../img/ok.png);
	background-repeat: no-repeat;
	background-position-x: 30%!important;
}
.guarantee__title{
	margin-bottom: 70px;
}
.guarantee__list{
	margin-left: -66px;
	display: flex;
	justify-content: space-between;
}
.guarantee__item{
	max-width: 320px;
}
.guarantee__name{
	color: #10a2ff;
	font-family: $medium;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.guarantee__text {
	line-height: 31px;
}
.job{
	.bx-wrapper{
		border-bottom: 1px solid #e61e38;
	}
}
.job__title{
	position: absolute;
	top: 76px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 3;
}
.job__slide{
	height: 550px;
	position: relative;
	overflow: hidden;
	&:nth-of-type(odd){
		background: #29273b;
		.job__number{
			color: #242133;
		}
	}
	&:nth-of-type(even){
		background: #393753;
		.job__number{
			color: #2f2c43;
		}
	}
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -8px;
		left: -200%;
		width: 300%;
		border-bottom: 2px dashed #e61e38;
		animation: jobDirection 45s linear infinite;
	}
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -22px;
		right: 0;
		width: 16px;
		height: 31px;
		display: block;
		@include b(job-dir, png);
	}
}
.job__content{
	position: absolute;
	top: 328px;
	left: 0;
	right: 0;
	padding: 10px 45px 0 72px;
	z-index: 2;
	@media screen and(max-width: 1670px){
		padding: 10px 25px 0 25px;
	}
	@media screen and(max-width: 1370px){
		padding: 0 25px 0 25px;
		.job__name{
			font-size: 1em;
			margin-bottom: 8px;
		}
	}
}
.job__number{
	position: absolute;
	top: 50%;
	left: 35px;
	transform: translateY(-50%);
	font-family: $gogoia-regular;
	font-size: 200px;
}
.job__name{
	color: #fffeff;
	font-family: $medium;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.job__text{
	color: white;
	font-size: 16px;
	line-height: 24px;
}
.job__count{
	font-size: 16px;
	line-height: 24px;
	color: #01a6fe;
}
.job__controls{
	position: relative;
	z-index: 5;
}
.job__more{
	padding: 90px 0 57px 0;
	background: #1d1c2a;
	margin-top: -54px;
	position: relative;
	.container-big{
		display: flex;
		justify-content: center;
	}
	background-image: url(../img/smile.png);
	background-repeat: no-repeat;
	// background-position: 84% 0;
	// background-attachment: fixed;
	background-position-x: 84%!important;
}
.job__left{
	max-width: 600px;
}
.job__right{
	padding-left: 45px;
	padding-right: 100px;
	max-width: 500px;
}

.reviews{
	padding: 76px 0 70px 0;
	background: #252f3c url(../img/rev-bg.png);
	background-repeat: no-repeat;
	background-position-x: 18%!important;
}
.reviews__controls{
	margin-top: 30px;
}
.reviews__title{
	margin-bottom: 60px;
}
.reviews__slider{

}
.review{
	background: #fff;
}
.review__header{
	background: #f2f2f2;
	overflow: hidden;
	height: 117px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 39px;
		height: 36px;
		display: block;
		background-image: url('../img/ico-rev.jpg');
	}
}
.review__tit{
	padding: 20px 54px 10px 24px;
	overflow: hidden;
}
.review__img{
	float: left;
	width: 120px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	img{
		width: 100%;
		max-height: 100%;
	}
}
.review__name{
	color: #e61e38;
	font-family: $medium;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
}
.review__post{
	color: black;
	font-size: 17px;
	line-height: 26px;
}
.review__site{
	color: #10a2ff;
	font-family: $medium;
	font-size: 17px;
	line-height: 26px;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}
.review__text{
	height: 235px;
	overflow-y: auto;
	padding: 34px 10px 34px 34px;
	color: #585858;
	font-size: 18px;
	line-height: 30px;
}

.mCSB_scrollTools .mCSB_draggerRail{
	background-color: #c2c2c2;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #10a2ff;
	width: 8px;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color: #10a2ff;
}

.map{
	position: relative;
}
#maps{
    width: 100%;
    height: 532px;
    padding: 0;
    margin: 0;
}
.wrap-map{
	width: 100%;
	height: 532px;
}
.ymaps-2-1-34-places-pane{

}
.ymaps-2-1-34-ground-pane{
	filter: grayscale(100%);
}
.ymaps-2-1-34-controls__toolbar{
	filter: grayscale(100%);
}
.ymaps-2-1-34-copyrights-pane{
	filter: grayscale(100%);
}

.balloon{
	position: absolute;
	right: 18%;
	//top: 55px;
	top: 165px;
	width: 369px;
	z-index: 10;
	padding: 28px;
	background: #333333 url(../img/map-label-bg.png) 165px -90px no-repeat;
	color: white;
	font-size: 18px;
	line-height: 24px;
	[class*='balloon']{
		margin-bottom: 12px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.balloon__phone, .balloon__email{
	color: white;
	font-size: 18px;
	line-height: 24px;
	display: block;
}
.balloon__email{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}

.contacts{
	background: #1c2a40;
	padding: 37px 0 49px 0;
}
.contacts__container{
	display: flex;
	justify-content: center;
}
.contacts__item{
	text-align: center;
	padding: 15px 35px 40px 35px;
	border-left: 1px solid #616a7a;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&:first-child{
		border-left: none;
	}
}
.contacts__title{
	color: white;
	font-family: $medium;
	font-size: 19px;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 12px;
	white-space: nowrap;
}
.contacts__val{
	display: block;
	color: #10a2ff;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
	text-decoration: none;
}
.contacts__text{
	font-size: 16px;
	font-weight: 100;
	line-height: 22px;
	color: #c5c9ce;
}
footer{
	background: #1d1c2a;
	padding: 22px 0 21px 0;
}
.footer__container{
	@extend .clearfix;
}
.footer__info{
	float: left;
}
.footer__copy{
	font-size: 17px;
	line-height: 22px;
	color: #dfdfe0;
	margin-right: 35px;
	display: inline-block;
	margin-left: 50px;
}
.footer__iesa{
	display: inline-block;
	color: #7d7d82;
	font-size: 16px;
	line-height: 22px;
	text-decoration: underline;
	display: inline-block;
	padding-top: 2px;
	&:hover{
		text-decoration: none;
	}
}
.footer__soc{
	float: right;
	margin-right: 78px;
}
.soc{
	display: flex;
}
.soc__item{
	display: block;
	width: 27px;
	height: 26px;
	margin-right: 16px;
	transition: all .3s;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		filter: contrast(1.3);
		opacity: .8;
	}
}
.soc_f{
	@include b(soc_f, png);
}
.soc_v{
	@include b(soc_v, png);
}
.soc_t{
	@include b(soc_t, png);
}
.soc_g{
	@include b(soc_g, png);
}
.message{
	width: 46px;
	height: 46px;
	display: block;
	border-radius: 50%;
	background: #e61e38;
	position: fixed;
	top: 200px;
	left: 50%;
	margin-left: -678px;
	box-shadow: 0 0 0 10px rgba(230, 30, 56, .3);
	transition: all .3s;
	z-index: 20;
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -9px;
		left: 50%;
		margin-left: -12.5px;
		display: block;
		width: 25px;
		height: 18px;
		@include b(ico-mess, png);
		transition: all .3s;
	}
	&:hover{
		background: #ba1026;
		box-shadow: 0 0 0 14px rgba(230, 30, 56, .2);
	}
	@media screen and(max-width: 1390px){
		left: 50px;
		margin-left: 0;
	}
}
.scroll-top{
	@extend .message;
	top: auto;
	bottom: 20%;
	left: auto;
	right: 100px;
	box-shadow: 0 0 0 10px rgba(51, 51, 51, .3);
	background: #333;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	&.active{
		opacity: 1;
		visibility: visible;
	}
	&:after{
		width: 18px;
		height: 22px;
		margin-left: -9px;
		margin-top: -11px;
		@include b(ico-top, png);
	}
	&:hover{
		background: #2A2727;
		box-shadow: 0 0 0 14px rgba(42, 39, 39, .2);
	}
	@media screen and(max-width: 1390px){
		left: auto;
		margin-left: 0;
	}
}
.burger{
	display: none;
	width: 33px;
	height: 18px;
	border-top: 2px solid #d6d6d8;
	border-bottom: 2px solid #d6d6d8;
	position: relative;
	transition: all .3s;
	cursor: pointer;
	background: transparent;
	border-right: none;
	border-left: none;
	margin-right: 15px;
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -1px;
		left: 0;
		right: 0;
		display: block;
		height: 2px;
		background: #d6d6d8;
		transition: all .3s;
	}
	&:hover{
		border-color: #fff;
		&:after{
			background: #fff;
		}
	}
	&:focus, &:active{
		outline: none;
	}
}
.nav__close{
	display: none;
	width: 58px;
	height: 56px;
	background: #3a3a3a;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	border: none;
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -11.5px;
		left: 50%;
		margin-left: -6px;
		width: 12px;
		height: 23px;
		display: block;
		@include b(close-menu, png);
	}
}
.nav__message{
	display: none;
}
.sm_message{
	display: none;
}
.creating__wrap-link{
	display: none;
}

.popup{
	background: #fff;
	padding: 40px 45px 48px 45px;
	text-align: center;
	border-radius: 10px;
	display: none;
}
.popup__tetle{
	color: black;
	font-family: $thin;
	font-size: 45px;
	line-height: 45px;
	margin-top: 0;
	margin-bottom: 30px;
}
.popup__content{
	margin-bottom: 25px;
	display: flex;
	align-items: stretch;
}
.popup__left{
	flex: 1 1 50%;
	padding-right: 25px;
}
.popup__right{
	flex: 1 1 50%;
	position: relative;
	padding-bottom: 15px;
	display: flex;
	align-item: stretch;
}
.popup__textarea{
	min-width: 100%;
	padding: 15px 20px;
}
.wrap-control{
	margin-bottom: 15px;
}
.parsley-errors-list{
	padding-left: 10px;
	list-style: none;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;
	li{
		font-size: 12px;
		color: #e61e38;
	}
}
.map__title{
	margin-top: 74px;
	margin-bottom: 62px;
}
.link-style{
	padding: 9px 20px 13px 25px;
	position: relative;
	background: #252f3c;
	color: white;
	font-size: 20px;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 6px;
		background: #e61e38;
		display: block;
	}
	&:hover{
		text-decoration: none;
		span{
			border-bottom: none;
		}
	}
	span{
		padding-bottom: 1px;
		border-bottom: 1px solid #f6f6f6;
	}
}
.job_link_style{
	margin-top: 12px;
	display: inline-block;
}

 @import "media";